@media (max-width: 1000px) {

footer {
  text-align: center;
  width: 100%
}

.profile {
  font-size: 18px
}

.card {
  font-size: 18px
}

}

@media (max-width: 670px) {
}

footer {
  text-align: center;
  width: 30%
}

.profile {
  float: none;
}

.skill-container {
  width: 100%
}

.card-wrapper {
  float: none;
}

}
