body {
 font-family:"Open Sans";
}

li {
 list-style: none;
 float: left;
}

header {
  background-color: white;
  height: 120px;
}

.header-list {
 backgronud-color:white;
 font-size: 36px;
}

.main {
 background-color: #cccccc;
 height: 1200px;
}

.skill {
 background-color: #cccccc;
 height: 400px;
}

footer {
 background-color: #cccccc;
 height: 200px
}
