body {
 font-family:"Open Sans";
}

li {
 list-style: none;
 float: left;
}

header {
 width: 100%
  position: fixed;
  top: 0;
  height: 80px;
  background-color: white;
  border:3px solid #f7f7f7;
}

.header-li {
 font-size: 20px;
 padding: 0 20px;
}

.header-ul {
 display: flex;
 justify-content: center;
 list-style: none;
}

.main {
 background-color: #cccccc;
 height: 1200px;
}

.skill {
 background-color: #cccccc;
 height: 400px;
}

footer {
 background-color: #cccccc;
 height: 200px
}
